/*--------------------------------------------------*/
/*---------------------DOCUMENT---------------------*/
/*--------------------------------------------------*/

body {
  font-family: 'Space Mono', monospace;
}

/*--------------------------------------------------*/
/*----------------------HEADER----------------------*/
/*--------------------------------------------------*/

div.header {
  height: 380px;
  text-align: center;
}

h1.banner {
  font-size: 8em;
  margin: 0;
  padding: 0.87em 0 0.1em 0;
}

h1.banner > span {
  color: rgb(38, 201, 193);
}

h1.banner > span,
h3.banner {
  font-style: italic;
  font-weight: 400;
}

/*--------------------------------------------------*/
/*-----------------------MENU-----------------------*/
/*--------------------------------------------------*/

div.menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

div.buttons {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow: overlay;
  padding-bottom: 10px;
}

div.buttons::-webkit-scrollbar {
  height: 3px;
}

div.buttons::-webkit-scrollbar-thumb {
  background: rgb(96, 226, 165);
}

div.button {
  margin-right: 10px;
  width: fit-content;
  position: relative;
}

div.button:hover {
  cursor: pointer;
}

div.button:hover > button.topic {
  background-color: rgb(38, 201, 193);
  cursor: pointer;
}

button.topic {
  padding: 8px 10px;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  position: relative;
  background-color: rgb(96, 226, 165);
  border: none;
}

button.topic:focus {
  outline: none;
}

div.button > i {
  display: none;
  position: absolute;
  top: 1px;
  right: 3px;
  font-size: 0.7em;
  color: rgb(125, 255, 194);
}

div.button:hover > i {
  display: block;
}

div.button > i:hover {
  color: white;
}

div.form {
  display: flex;
  margin-left: 10px;
  padding-bottom: 10px;
}

input::placeholder {
  font-style: italic;
  color: rgb(184, 184, 184);
}

button.add-button {
  border: none;
  background-color: unset;
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
  font-size: 2.1em;
  color: rgb(96, 226, 165);
}

button.add-button:focus {
  outline: none;
}

button.add-button:hover,
button.add-button:focus {
  color: rgb(38, 201, 193);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
}

/*--------------------------------------------------*/
/*-------------------GIF-CONTAINER------------------*/
/*--------------------------------------------------*/

div.gif-container {
  margin: 0 auto;
  margin-top: 60px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.gif-container.increased-margin {
  margin-top: 128px;
}

.gif-container > img {
  margin-bottom: 50px;
  padding: 0 20px;
}

div.add-gifs {
  display: none;
  justify-content: center;
}

div.add-button {
  padding: 20px 30px;
  font-family: 'VT323', monospace;
  font-size: 2em;
  background-color: rgb(96, 226, 165);
}

div.add-button:hover,
div.add-button:focus {
  background-color: rgb(38, 201, 193);
}

div.add-button:hover {
  cursor: pointer;
}

div.add-button:focus {
  outline: none;
}